In [1]:
# Dependencies and Setup
import pandas as pd

# csv files
country_codes = "data/country_codes_and_coordinates.csv"
covid = "data/owid-covid-data.csv"

face = "data/face-covering-policies-covid.csv"
transport = "data/public-transport-covid.csv"
home = "data/stay-at-home-covid.csv"

# Read csv files
country_codes_data = pd.read_csv(country_codes)
covid_data = pd.read_csv(covid)

face_data = pd.read_csv(face)
transport_data = pd.read_csv(transport)
home_data = pd.read_csv(home)

country_codes_data

               Country Alpha-3 code  Latitude (average)  Longitude (average)
0          Afghanistan          AFG             33.0000                 65.0
1              Albania          ALB             41.0000                 20.0
2              Algeria          DZA             28.0000                  3.0
3       American Samoa          ASM            -14.3333               -170.0
4              Andorra          AND             42.5000                  1.6
..                 ...          ...                 ...                  ...
239  Wallis and Futuna          WLF            -13.3000               -176.2
240     Western Sahara          ESH             24.5000                -13.0
241              Yemen          YEM             15.0000                 48.0
242             Zambia          ZMB            -15.0000                 30.0
243           Zimbabwe          ZWE            -20.0000                 30.0

[244 rows x 4 columns]

In [2]:
country_codes_data = country_codes_data.rename(columns={
    "Country":"location",
    "Alpha-3 code":"iso_code"})

country_codes_data = country_codes_data.drop(columns=['location'])
country_codes_data

    iso_code  Latitude (average)  Longitude (average)
0        AFG             33.0000                 65.0
1        ALB             41.0000                 20.0
2        DZA             28.0000                  3.0
3        ASM            -14.3333               -170.0
4        AND             42.5000                  1.6
..       ...                 ...                  ...
239      WLF            -13.3000               -176.2
240      ESH             24.5000                -13.0
241      YEM             15.0000                 48.0
242      ZMB            -15.0000                 30.0
243      ZWE            -20.0000                 30.0

[244 rows x 3 columns]

In [3]:
covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316697,ZWE,Africa,Zimbabwe,2023-06-03,265139.0,32.0,21.000,5695.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
316698,ZWE,Africa,Zimbabwe,2023-06-04,265139.0,0.0,16.571,5695.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
316699,ZWE,Africa,Zimbabwe,2023-06-05,265139.0,0.0,15.571,5695.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
316700,ZWE,Africa,Zimbabwe,2023-06-06,265139.0,0.0,15.571,5695.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
316701,ZWE,Africa,Zimbabwe,2023-06-07,265139.0,0.0,9.286,5695.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [4]:
merged_df = pd.merge(covid_data, country_codes_data, how="left", on=["iso_code"])

In [5]:
merged_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Latitude (average),Longitude (average)
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316697,ZWE,Africa,Zimbabwe,2023-06-03,265139.0,32.0,21.000,5695.0,0.0,0.429,...,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0
316698,ZWE,Africa,Zimbabwe,2023-06-04,265139.0,0.0,16.571,5695.0,0.0,0.286,...,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0
316699,ZWE,Africa,Zimbabwe,2023-06-05,265139.0,0.0,15.571,5695.0,0.0,0.000,...,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0
316700,ZWE,Africa,Zimbabwe,2023-06-06,265139.0,0.0,15.571,5695.0,0.0,0.000,...,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0
316701,ZWE,Africa,Zimbabwe,2023-06-07,265139.0,0.0,9.286,5695.0,0.0,0.000,...,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0

In [6]:
face_data = face_data.rename(columns={
    "Code":"iso_code",
    "Day":"date"})

face_data = face_data.drop(columns=['Entity'])

face_data

       iso_code        date  facial_coverings
0           AFG  2020-01-01                 0
1           AFG  2020-01-02                 0
2           AFG  2020-01-03                 0
3           AFG  2020-01-04                 0
4           AFG  2020-01-05                 0
...         ...         ...               ...
202755      ZWE  2022-12-27                 4
202756      ZWE  2022-12-28                 4
202757      ZWE  2022-12-29                 4
202758      ZWE  2022-12-30                 4
202759      ZWE  2022-12-31                 4

[202760 rows x 3 columns]

In [7]:
transport_data = transport_data.rename(columns={
    "Code":"iso_code",
    "Day":"date"})

transport_data = transport_data.drop(columns=['Entity'])

transport_data

       iso_code        date  close_public_transport
0           AFG  2020-01-01                       0
1           AFG  2020-01-02                       0
2           AFG  2020-01-03                       0
3           AFG  2020-01-04                       0
4           AFG  2020-01-05                       0
...         ...         ...                     ...
202755      ZWE  2022-12-27                       1
202756      ZWE  2022-12-28                       1
202757      ZWE  2022-12-29                       1
202758      ZWE  2022-12-30                       1
202759      ZWE  2022-12-31                       1

[202760 rows x 3 columns]

In [8]:
home_data = home_data.rename(columns={
    "Code":"iso_code",
    "Day":"date"})

home_data = home_data.drop(columns=['Entity'])

home_data

       iso_code        date  stay_home_requirements
0           AFG  2020-01-01                       0
1           AFG  2020-01-02                       0
2           AFG  2020-01-03                       0
3           AFG  2020-01-04                       0
4           AFG  2020-01-05                       0
...         ...         ...                     ...
202755      ZWE  2022-12-27                       2
202756      ZWE  2022-12-28                       2
202757      ZWE  2022-12-29                       2
202758      ZWE  2022-12-30                       2
202759      ZWE  2022-12-31                       2

[202760 rows x 3 columns]

In [9]:
merged_df2 = pd.merge(merged_df, face_data, how="inner", on=["iso_code", "date"])

In [10]:
merged_df2

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Latitude (average),Longitude (average),facial_coverings
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199758,ZWE,Africa,Zimbabwe,2022-12-27,259969.0,22.0,23.000,5635.0,0.0,0.286,...,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4
199759,ZWE,Africa,Zimbabwe,2022-12-28,259982.0,13.0,20.857,5635.0,0.0,0.286,...,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4
199760,ZWE,Africa,Zimbabwe,2022-12-29,260015.0,33.0,20.714,5635.0,0.0,0.143,...,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4
199761,ZWE,Africa,Zimbabwe,2022-12-30,260059.0,44.0,23.286,5636.0,1.0,0.143,...,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4
199762,ZWE,Africa,Zimbabwe,2022-12-31,260100.0,41.0,25.714,5637.0,1.0,0.286,...,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4

In [11]:
merged_df3 = pd.merge(merged_df2, transport_data, how="inner", on=["iso_code", "date"])

merged_df3

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Latitude (average),Longitude (average),facial_coverings,close_public_transport
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0,0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0,0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0,0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0,0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,0.511,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199758,ZWE,Africa,Zimbabwe,2022-12-27,259969.0,22.0,23.000,5635.0,0.0,0.286,...,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4,1
199759,ZWE,Africa,Zimbabwe,2022-12-28,259982.0,13.0,20.857,5635.0,0.0,0.286,...,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4,1
199760,ZWE,Africa,Zimbabwe,2022-12-29,260015.0,33.0,20.714,5635.0,0.0,0.143,...,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4,1
199761,ZWE,Africa,Zimbabwe,2022-12-30,260059.0,44.0,23.286,5636.0,1.0,0.143,...,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4,1
199762,ZWE,Africa,Zimbabwe,2022-12-31,260100.0,41.0,25.714,5637.0,1.0,0.286,...,0.571,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4,1

In [12]:
merged_df4 = pd.merge(merged_df3, home_data, how="inner", on=["iso_code", "date"])

merged_df4

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Latitude (average),Longitude (average),facial_coverings,close_public_transport,stay_home_requirements
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0,0,0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0,0,0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0,0,0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0,0,0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,41128772.0,NaN,NaN,NaN,NaN,33.0,65.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199758,ZWE,Africa,Zimbabwe,2022-12-27,259969.0,22.0,23.000,5635.0,0.0,0.286,...,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4,1,2
199759,ZWE,Africa,Zimbabwe,2022-12-28,259982.0,13.0,20.857,5635.0,0.0,0.286,...,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4,1,2
199760,ZWE,Africa,Zimbabwe,2022-12-29,260015.0,33.0,20.714,5635.0,0.0,0.143,...,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4,1,2
199761,ZWE,Africa,Zimbabwe,2022-12-30,260059.0,44.0,23.286,5636.0,1.0,0.143,...,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4,1,2
199762,ZWE,Africa,Zimbabwe,2022-12-31,260100.0,41.0,25.714,5637.0,1.0,0.286,...,16320539.0,NaN,NaN,NaN,NaN,-20.0,30.0,4,1,2

In [13]:
cleaned_df = merged_df4[["iso_code", "continent", "location", "date", "total_cases", "total_deaths", "total_vaccinations", "total_vaccinations_per_hundred", 
                        "total_tests", "total_tests_per_thousand", "population", "population_density", "Latitude (average)", "Longitude (average)", "facial_coverings", "close_public_transport", "stay_home_requirements" ]]

cleaned_df = cleaned_df.rename(columns={
    "Latitude (average)": "Latitude",
    "Longitude (average)": "Longitude"})

cleaned_df

,iso_code,continent,location,date,total_cases,total_deaths,total_vaccinations,total_vaccinations_per_hundred,total_tests,total_tests_per_thousand,population,population_density,Latitude,Longitude,facial_coverings,close_public_transport,stay_home_requirements
0,AFG,Asia,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0,54.422,33.0,65.0,0,0,0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0,54.422,33.0,65.0,0,0,0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0,54.422,33.0,65.0,0,0,0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0,54.422,33.0,65.0,0,0,0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0,54.422,33.0,65.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199758,ZWE,Africa,Zimbabwe,2022-12-27,259969.0,5635.0,NaN,NaN,NaN,NaN,16320539.0,42.729,-20.0,30.0,4,1,2
199759,ZWE,Africa,Zimbabwe,2022-12-28,259982.0,5635.0,NaN,NaN,NaN,NaN,16320539.0,42.729,-20.0,30.0,4,1,2
199760,ZWE,Africa,Zimbabwe,2022-12-29,260015.0,5635.0,NaN,NaN,NaN,NaN,16320539.0,42.729,-20.0,30.0,4,1,2
199761,ZWE,Africa,Zimbabwe,2022-12-30,260059.0,5636.0,NaN,NaN,NaN,NaN,16320539.0,42.729,-20.0,30.0,4,1,2
199762,ZWE,Africa,Zimbabwe,2022-12-31,260100.0,5637.0,NaN,NaN,NaN,NaN,16320539.0,42.729,-20.0,30.0,4,1,2

In [14]:
cleaned_df.to_csv("output/cleaned_covid.csv", index=False, header=True)

In [15]:
merged_df4.to_csv("output/merged_covid.csv", index=False, header=True)