In [6]:
# Dependencies and Setup
import pandas as pd

# csv files
country_codes = "data/country_codes_and_coordinates.csv"
covid = "data/owid-covid-data.csv"

# Read csv files
country_codes_data = pd.read_csv(country_codes)
covid_data = pd.read_csv(covid)

country_codes_data

               Country Alpha-3 code  Latitude (average)  Longitude (average)
0          Afghanistan          AFG             33.0000                 65.0
1              Albania          ALB             41.0000                 20.0
2              Algeria          DZA             28.0000                  3.0
3       American Samoa          ASM            -14.3333               -170.0
4              Andorra          AND             42.5000                  1.6
..                 ...          ...                 ...                  ...
239  Wallis and Futuna          WLF            -13.3000               -176.2
240     Western Sahara          ESH             24.5000                -13.0
241              Yemen          YEM             15.0000                 48.0
242             Zambia          ZMB            -15.0000                 30.0
243           Zimbabwe          ZWE            -20.0000                 30.0

[244 rows x 4 columns]

In [7]:
country_codes_data = country_codes_data.rename(columns={
    "Country":"location",
    "Alpha-3 code":"iso_code"})

country_codes_data

              location iso_code  Latitude (average)  Longitude (average)
0          Afghanistan      AFG             33.0000                 65.0
1              Albania      ALB             41.0000                 20.0
2              Algeria      DZA             28.0000                  3.0
3       American Samoa      ASM            -14.3333               -170.0
4              Andorra      AND             42.5000                  1.6
..                 ...      ...                 ...                  ...
239  Wallis and Futuna      WLF            -13.3000               -176.2
240     Western Sahara      ESH             24.5000                -13.0
241              Yemen      YEM             15.0000                 48.0
242             Zambia      ZMB            -15.0000                 30.0
243           Zimbabwe      ZWE            -20.0000                 30.0

[244 rows x 4 columns]

In [8]:
covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316697,ZWE,Africa,Zimbabwe,2023-06-03,265139.0,32.0,21.000,5695.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
316698,ZWE,Africa,Zimbabwe,2023-06-04,265139.0,0.0,16.571,5695.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
316699,ZWE,Africa,Zimbabwe,2023-06-05,265139.0,0.0,15.571,5695.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
316700,ZWE,Africa,Zimbabwe,2023-06-06,265139.0,0.0,15.571,5695.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
316701,ZWE,Africa,Zimbabwe,2023-06-07,265139.0,0.0,9.286,5695.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [9]:
merged_df = pd.merge(covid_data, country_codes_data, how="left", on=["location", "iso_code"])

In [10]:
merged_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Latitude (average),Longitude (average)
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316697,ZWE,Africa,Zimbabwe,2023-06-03,265139.0,32.0,21.000,5695.0,0.0,0.429,...,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN
316698,ZWE,Africa,Zimbabwe,2023-06-04,265139.0,0.0,16.571,5695.0,0.0,0.286,...,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN
316699,ZWE,Africa,Zimbabwe,2023-06-05,265139.0,0.0,15.571,5695.0,0.0,0.000,...,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN
316700,ZWE,Africa,Zimbabwe,2023-06-06,265139.0,0.0,15.571,5695.0,0.0,0.000,...,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN
316701,ZWE,Africa,Zimbabwe,2023-06-07,265139.0,0.0,9.286,5695.0,0.0,0.000,...,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
merged_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million',
       'Latitude (average)', 'Longitude (average)'],
      dtype='object')

In [12]:
cleaned_df = merged_df[["iso_code", "continent", "location", "date", "total_cases", "total_deaths", "total_vaccinations", "total_vaccinations_per_hundred", 
                        "total_tests", "total_tests_per_thousand", "population", "population_density", "Latitude (average)", "Longitude (average)" ]]

cleaned_df = cleaned_df.rename(columns={
    "Latitude (average)": "Latitude",
    "Longitude (average)": "Longitude"})

cleaned_df

,iso_code,continent,location,date,total_cases,total_deaths,total_vaccinations,total_vaccinations_per_hundred,total_tests,total_tests_per_thousand,population,population_density,Latitude,Longitude
0,AFG,Asia,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0,54.422,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0,54.422,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0,54.422,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0,54.422,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0,54.422,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316697,ZWE,Africa,Zimbabwe,2023-06-03,265139.0,5695.0,NaN,NaN,NaN,NaN,16320539.0,42.729,NaN,NaN
316698,ZWE,Africa,Zimbabwe,2023-06-04,265139.0,5695.0,NaN,NaN,NaN,NaN,16320539.0,42.729,NaN,NaN
316699,ZWE,Africa,Zimbabwe,2023-06-05,265139.0,5695.0,NaN,NaN,NaN,NaN,16320539.0,42.729,NaN,NaN
316700,ZWE,Africa,Zimbabwe,2023-06-06,265139.0,5695.0,NaN,NaN,NaN,NaN,16320539.0,42.729,NaN,NaN
316701,ZWE,Africa,Zimbabwe,2023-06-07,265139.0,5695.0,NaN,NaN,NaN,NaN,16320539.0,42.729,NaN,NaN

In [13]:
# cleaned_df.to_csv("output/cleaned_covid.csv", index=False, header=True)

In [14]:
# merged_df.to_csv("output/merged_covid.csv", index=False, header=True)